@use "variables"

// Reset and base styles
*
    margin: 0
    padding: 0

::-webkit-scrollbar
    display: none

body
    overflow-x: hidden
    width: 100%
    display: grid
    grid-template-areas: "nav" "head" "main" "foot"
    grid-template-rows: auto auto auto 1fr
    grid-template-columns: auto

// Base typography
h1, h2
    text-decoration: none
    font-family: variables.$primary-font

h1
    font-size: 48px
    line-height: 48px
    font-weight: 500

h2
    line-height: 36px
    font-size: 36px
    font-weight: 400
    margin: 0 0 calc(variables.$margin / 2.5) 0

hr
    border: 1px solid variables.$secondary-orange
    box-shadow: variables.$shadow

p, h3, strong
    font-family: variables.$secondary-font
    font-size: 18px
    letter-spacing: 0
    font-weight: 500
    margin: variables.$margin 0

strong
    font-weight: 600

h3
    font-size: 20px
    font-weight: 600
    margin: 0

a, a:link
    color: variables.$highlight-offwhite
    font-family: variables.$secondary-font
    font-size: 18px
    text-decoration: none
    text-shadow: variables.$shadow
    &:hover, &:active
        color: variables.$primary-light-blue
        transition: all 0.05s ease-in-out
button
    // Fluid gradient background for all buttons
    background-color: variables.$primary-light-blue
    background-image: linear-gradient(45deg, variables.$primary-light-blue, variables.$secondary-green)
    background-size: 200% 100%
    background-position: left center
    padding: variables.$margin
    font-family: variables.$secondary-font
    font-size: 18px
    width: fit-content
    border-radius: variables.$radius
    border: none
    box-shadow: variables.$shadow
    color: variables.$highlight-offwhite
    transition: background-position 0.3s ease, color 0.05s ease-in-out
    &:hover
        color: white
        background-position: right center
    &:active
        background-position: right center
        color: white
img
    border-radius: variables.$radius
    width: calc(320px - variables.$margin-double)
    height: 400px
    object-fit: cover
    box-shadow: variables.$shadow

li
    list-style-type: none
    font-family: variables.$secondary-font
    font-size: 18px
    font-weight: 400

.page-theme-toggle
    position: fixed
    bottom: variables.$margin
    left: variables.$margin
    z-index: 3
