// Footer styles
footer.Footer
    grid-area: foot
    background-color: $primary-dark-blue
    color: $highlight-offwhite
    font-family: $secondary-font
    
    nav
        margin: 0
        display: flex
        flex-flow: column wrap
        justify-content: space-around
    
    iframe#locationIframe
        margin-top: $margin-half
        padding: 0
        width: calc(320px - $margin-triple)
        margin-left: 0
        margin-right: 0
        display: block
    
    h3 + ul
        padding: $margin-half
    
    section
        padding: 0 0 0 $margin
