@use "variables"

// Header styles
header.Header
    width: 100vw
    grid-area: head
    display: flex
    flex-flow: row nowrap
    background: variables.$primary-tint
    color: var(--clr-dark)
    z-index: 1
    text-shadow: none
    justify-content: center
    border-bottom: 1px solid variables.$border
    > section
        display: flex
        flex-flow: row wrap
        justify-content: space-between
        padding: variables.$margin
    aside
        margin-top: variables.$margin
        .profile-img
            transition: transform 0.3s ease
            &:hover
                transform: rotate(5deg) scale(1.05)
    > section > section, aside
        display: flex
        flex-flow: column wrap
