// Main content sections
main.Main
    grid-area: main
    display: grid
    grid-template-areas: "eresume" "blog" "about" "contact"
    grind-template-rows: 1fr 1fr 1fr 1fr

// eResume section
section.eresume
    background-color: $primary-dark-blue
    box-shadow: $shadow
    z-index: 1
    
    > article
        width: calc(100% - ($margin-double))
        display: flex
        flex-flow: row wrap
        justify-content: space-between
        color: $highlight-offwhite
        text-shadow: $shadow
        margin: $margin
        padding: 0
    
    aside
        margin-top: $margin
    
    hr
        border: 1px solid $secondary-orange

// Card components
section.card
    background-color: $primary-light-blue
    padding: $margin
    border-radius: $radius
    box-shadow: $shadow
    width: calc( 100vw - 4rem)
    
    &:first-child
        margin-bottom: $margin
    
    ul
        display: flex
        flex-flow: column nowrap
        overflow: scroll
        height: 100px
        background-color: $primary-dark-blue
        border: 1px solid $secondary-orange
        border-radius: $radius
        margin: $margin-half 0 0 0
        padding: $margin-half $margin
        box-shadow: inset $shadow

// About section
section.about
    background-color: $primary-dark-blue
    color: $highlight-offwhite
    text-shadow: $shadow
    height: 500px
    overflow-y: scroll
    box-shadow: $shadow
