@use "variables"
//small mobile screen width 320px
img
    width: calc(100vw - (variables.$margin-double))
    max-width: calc(600px - variables.$margin-double)

// Responsive styles
// Mobile (375px)
@media screen and (min-width: variables.$mobile-width)
    section.eresume aside
        width: 100%
        display: flex
        flex-flow: row wrap
// Small screens (425px)
@media screen and (min-width: variables.$small-width)
    header.Header aside
        margin: variables.$margin 0 0 0
    section.blog-post
        > article
            width: calc(variables.$small-width - variables.$margin-double)
        iframe
            height: calc(((variables.$small-width - variables.$margin-double) / 16) * 9)
// Medium screens (672px)
@media screen and (min-width: variables.$medium-width)
    section.eresume aside
        justify-content: flex-start
    section.card
        width: calc(320px - variables.$margin-triple)
        &:first-child
            margin-bottom: 0
            margin-right: variables.$margin-half
        &:last-child
            margin-left: variables.$margin-half
    section.blog-post > article
        width: variables.$post-width-lg
        iframe
            height: variables.$post-iframe-height-lg

// Large screens (768px)
@media screen and (min-width: variables.$large-width)
    nav.Nav
        > section
            justify-self: center
            width: variables.$large-width
            grid-template-areas: 'logo list'
            grid-template-rows: auto
            grid-template-columns: min-content max-content
        ul, ul.open, ul.close, ul.opened
            display: flex
            transform: none
            position: static
            flex-flow: row nowrap
            animation: none
            align-self: center
            justify-self: flex-start
            background-color: #00000000
        li
            margin: 0
            padding: variables.$margin variables.$margin-half
    header.Header > section
        width: variables.$large-width
    section.eresume, section.blog, section.about, section.contact, footer.Footer, section.eresume, header.Header
        display: flex
        flex-flow: row nowrap
        justify-content: center
        min-width: variables.$large-width
    section#fullResume > article, section.blog-post.big > article, #BlogPostBrowser > article
        width: calc(variables.$large-width - variables.$margin-double)
    section.eresume > article, section.blog > article, section.about > article, section.contact > article, footer.Footer > nav, #fullResume
        width: variables.$large-width
    button.MenuToggle, section.menu-hamburger-container
        display: none
    footer.Footer
        nav
            flex-flow: row nowrap
            justify-content: flex-start
        > nav section
            padding: variables.$margin variables.$margin variables.$margin 0
    img
        width: calc(320px - variables.$margin-double)
        max-width: none
    section.card
        width: calc(320px - variables.$margin-quadruple)
        &:first-child
            margin-bottom: variables.$margin
            margin-right: 0
        &:last-child
            margin-left: 0
    header.Header p, section.eresume p
        max-width: 35ch
    section.eresume aside
        flex-flow: column nowrap
        width: fit-content
    section.blog-post iframe
        height: calc( ( (variables.$large-width - variables.$margin-double) / 48) * 9)
    section#BlogPostBrowser .blog-post
        margin: variables.$margin variables.$margin 0 0

// Extra large screens (1024px)
@media screen and (min-width: variables.$xl-width)
    nav.Nav
        > section
            width: variables.$xl-width
        li
            margin: 0
            padding: variables.$margin
    header.Header > section
        width: variables.$xl-width
    section.eresume, section.blog, section.about, section.contact, footer.Footer, section.eresume, header.Header
        min-width: variables.$xl-width
    section#fullResume > article, section.blog-post.big > article, #BlogPostBrowser > article
        width: calc(variables.$xl-width - variables.$margin-double)
    section.eresume > article, section.blog > article, section.about > article, section.contact > article, footer.Footer > nav, #fullResume
        width: variables.$xl-width
    img
        width: calc(425px - variables.$margin-double)
        max-width: none
    section.card
        width: calc(425px - variables.$margin-quadruple)
        &:first-child
            margin-bottom: variables.$margin
            margin-right: 0
        &:last-child
            margin-left: 0
    header.Header p, section.eresume p
        max-width: 45ch
    section.blog-post
        > article
            width: variables.$post-width-xl
        iframe
            height: variables.$post-iframe-height-xl

// Disable all shadows in dark mode for readability
[class~='dark'], .dark *
    text-shadow: none
    filter: none

