// Variables
$primary-dark-blue: #2c3e50
$primary-light-blue: #2980B9
$light-blue-border: 2px solid $primary-light-blue
$secondary-orange: #f39C12
$secondary-green: #27AE60
$highlight-red: #e74c3c
$highlight-offwhite: #ecf0f1
$shadow-color: #00000044

// Spacing
$margin-half: 0.5rem
$margin: 1rem
$margin-double: 2rem
$margin-triple: 3rem
$margin-quadruple: 4rem

// Typography
$primary-font:'Roboto Serif Variable', 'Roboto Serif', Serif
$secondary-font:'Work Sans Variable', 'Work Sans', Sans-serif

// Effects
$shadow: 0px 4px 4px $shadow-color
$radius: 16px

// Breakpoints
$width: 320px
$mobile-width: 375px
$small-width: 425px
$medium-width: 672px
$large-width: 768px
$xl-width: 1024px

$post-width-lg: calc(($large-width/2) - $margin-double)
$post-iframe-height-lg: calc(($post-width-lg / 16) * 9)
$post-width-xl: calc(($xl-width / 3) - $margin-double)
$post-iframe-height-xl: calc(($post-width-xl / 16) * 9)