* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  width: 100%;
  display: grid;
  grid-template-areas: "nav" "head" "main" "foot";
  grid-template-rows: fit-content 1fr 3fr 1fr;
  grid-template-columns: auto;
}

nav.Nav {
  z-index: 10;
  grid-area: nav;
  display: grid;
  grid-template-areas: "logo menu" "list list";
  grid-template-rows: auto min-content;
  grid-template-columns: 1fr 1fr;
  background-color: #2c3e50;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
}

nav.Nav > ul {
  grid-area: list;
  width: 100%;
  position: absolute;
  flex-flow: column nowrap;
  justify-content: flex-start;
  background-color: #2980B9;
  transform: translateY(-100%) scale3d(0, 0, 0);
}

nav.Nav > ul.close {
  animation: navigation-menu 0.5s ease reverse;
  animation-fill-mode: forwards;
}

nav.Nav > ul.opened {
  display: flex;
  position: static;
  transform: translateY(0) scale3d(1, 1, 1);
}

nav.Nav > ul.open {
  animation: navigation-menu 0.5s ease;
}

nav.Nav li {
  width: fit-content;
  list-style-type: none;
  margin: 1rem;
}

section.menu-chevron-container, section.menu-logo-container {
  grid-area: menu;
  background-color: #2c3e50;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  z-index: 10;
}

section.menu-logo-container {
  grid-area: logo;
  justify-content: flex-start;
  align-content: center;
}

img.menu-chevron {
  width: 20px;
  height: 40px;
  object-fit: fill;
  margin: 2rem;
  box-shadow: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2509803922));
  justify-self: end;
  align-self: end;
  transform: rotateZ(90deg);
}

nav.Nav img.opened {
  transform: rotateZ(270deg);
}

nav.Nav img.open {
  animation: menu-chevron-move 0.25s ease;
  animation-fill-mode: forwards;
}

nav.Nav img.close {
  animation: menu-chevron-move 0.25s ease reverse;
  animation-fill-mode: backwards;
}

section.about {
  background-color: #2c3e50;
  color: #ecf0f1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
  height: 500px;
  overflow-y: scroll;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
}

section.about > article {
  padding: 1rem;
}

@keyframes menu-chevron-move {
  100% {
    transform: rotateZ(270deg);
  }
}
@keyframes navigation-menu {
  0% {
    transform: translateY(-100%) scale3d(0, 0, 0);
    display: flex;
    position: absolute;
  }
  100% {
    transform: translateY(calc(161px - 2.5rem)) scale3d(1, 1, 1);
    display: flex;
    position: absolute;
  }
}
a, a:link {
  color: #ecf0f1;
  font-family: "Work Sans", Sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
}

header.Header, section.blog {
  grid-area: head;
  display: flex;
  position: static;
  flex-flow: row wrap;
  background-color: #ecf0f1;
  color: #2c3e50;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
  border-color: #2c3e50;
  z-index: 9;
  box-shadow: inset 0 -4px 4px rgba(0, 0, 0, 0.2509803922);
}

img {
  width: calc(320px - 1rem - 1rem);
  height: 400px;
  object-fit: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
  margin: 0;
  padding: 0;
}

header.Header > section, header.Header > aside {
  display: flex;
  flex-flow: column wrap;
  margin: 1rem;
}

h1, h2 {
  text-decoration: none;
  font-family: "Roboto Serif", Serif;
}

h1 {
  margin: 0;
  font-size: 48px;
  line-height: 48px;
  font-weight: 500;
}

h2 {
  line-height: 36px;
  font-size: 36px;
  font-weight: 400;
  margin: 0 0 0.4rem 0;
}

hr {
  border: 1px solid #f39C12;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
}

p, h3 {
  font-family: "Work Sans", Sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 500;
  max-width: 35ch;
  margin: 1rem 0;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

button {
  background-color: #2980B9;
  padding: 1rem;
  font-family: "Work Sans", Sans-serif;
  font-size: 18px;
  width: fit-content;
  border-radius: 16px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
  color: #ecf0f1;
}

main.Main {
  grid-area: main;
}

footer.Footer {
  grid-area: foot;
}

section.eresume {
  background-color: #2c3e50;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
  position: relative;
  z-index: 10;
}

section.eresume > article {
  padding: 1rem;
  color: #ecf0f1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
}

section.eresume hr {
  border: 1px solid #f39C12;
}

section.card {
  background-color: #2980B9;
  padding: 1rem;
  border-radius: 16px;
  margin: 1rem 0 0 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
  width: calc(320px - 4rem);
}

section.card ul {
  background-color: #2c3e50;
  border: 1px solid #f39C12;
  border-radius: 16px;
  margin: 0.5rem 0 0 0;
  padding: 1rem;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
}

li {
  list-style-type: none;
  font-family: "Work Sans", Sans-serif;
  font-size: 18px;
  font-weight: 400;
}

section.blog button {
  margin-top: 1rem;
}

section.blog-post {
  background-color: #2c3e50;
  color: #ecf0f1;
  border: none;
  border-radius: 16px;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

section.blog-post > article {
  padding: 0;
}

section.blog-post iframe {
  width: 100%;
  border-radius: 16px 16px 0 0;
  border: 0 none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
}

section.blog-post p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  background-color: #ecf0f1;
  padding: 0 0.5rem;
  margin: 0 1rem 0 1rem;
  font-size: 18px;
  font-weight: 400;
  color: #2c3e50;
  border-left: 2px solid #2980B9;
  border-right: 2px solid #2980B9;
}

section.blog-post p:last-child {
  border-bottom: 2px solid #2980B9;
  padding-bottom: 0.5rem;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

section.blog-post h3 {
  border-left: 2px solid #2980B9;
  border-right: 2px solid #2980B9;
  color: #2c3e50;
  padding: 0.5rem 0.5rem 0 0.5rem;
  margin: -3px 1rem 0 1rem;
  background-color: #ecf0f1;
}

section.blog-post button {
  box-shadow: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
  background-color: rgba(0, 0, 0, 0);
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: #2c3e50;
}

section.contact {
  background-color: #f39C12;
  color: #2c3e50;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
}

section > article {
  padding: 1rem;
}

section.contact hr {
  border: 1px solid #2c3e50;
}

section.contact form {
  margin-top: 1rem;
}

section.contact fieldset {
  border: none;
}

section.contact form fieldset section {
  display: flex;
  flex-flow: row wrap;
  width: calc(320px - 2rem);
  justify-content: space-between;
}

section.contact form fieldset textarea, section.contact form fieldset input {
  flex: 1.7;
  font-family: "Work Sans", Sans-serif;
  padding: 1rem;
  min-width: calc(320px - 4rem);
  max-width: calc(320px - 4rem);
  border-radius: 16px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
}

section.contact form label {
  font-family: "Work Sans", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin: 0.5rem 0;
}

section.contact form fieldset section p {
  display: none;
}

section.contact form fieldset section input:click + p {
  display: block;
  flex: 1;
  color: #e74c3c;
  font-size: 16px;
  height: 16px;
  margin: 0 0 0.5rem 0.5rem;
  text-align: start;
}

section.contact form button[type=submit] {
  margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
  nav.Nav {
    grid-template-areas: "logo list";
    grid-template-rows: auto;
    grid-template-columns: min-content max-content;
  }
  nav.Nav > ul, nav.Nav > ul.open, nav.Nav > ul.close, nav.Nav > ul.opened {
    display: flex;
    transform: none;
    position: static;
    flex-flow: row nowrap;
    animation: none;
    align-self: center;
    justify-self: center;
    background-color: rgba(0, 0, 0, 0);
  }
  img.menu-chevron, section.menu-chevron-container {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
