* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
  width: 100%;
  display: grid;
  grid-template-areas: "nav" "head" "main" "foot";
  grid-template-rows: auto auto auto 1fr;
  grid-template-columns: auto;
}

nav.Nav {
  grid-area: nav;
  background-color: #2c3e50;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2666666667);
  z-index: 2;
}

nav.Nav > section {
  display: grid;
  grid-template-areas: "logo menu" "list list";
  grid-template-rows: auto min-content;
  grid-template-columns: 1fr 1fr;
}

nav.Nav ul {
  grid-area: list;
  width: 100%;
  position: absolute;
  flex-flow: column nowrap;
  justify-content: flex-start;
  background-color: #2980B9;
  transform: translateY(-100%) scale3d(0, 0, 0);
}

nav.Nav ul.close {
  animation: navigation-menu 0.5s ease reverse;
  animation-fill-mode: forwards;
}

nav.Nav ul.opened {
  display: flex;
  position: static;
  transform: translateY(0) scale3d(1, 1, 1);
}

nav.Nav ul.open {
  animation: navigation-menu 0.5s ease;
}

nav.Nav li {
  width: fit-content;
  list-style-type: none;
  margin: 1rem;
}

nav.Nav img.opened {
  transform: rotateZ(270deg);
}

nav.Nav img.open {
  animation: menu-chevron-move 0.25s ease;
  animation-fill-mode: forwards;
}

nav.Nav img.close {
  animation: menu-chevron-move 0.25s ease reverse;
  animation-fill-mode: backwards;
}

section.menu-chevron-container, section.menu-logo-container {
  grid-area: menu;
  background-color: #2c3e50;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  z-index: 1;
}

section.menu-logo-container {
  grid-area: logo;
  justify-content: flex-start;
  align-content: center;
}

img.menu-chevron {
  width: 20px;
  height: 40px;
  object-fit: fill;
  margin: 2rem;
  box-shadow: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2666666667));
  justify-self: end;
  align-self: end;
  transform: rotateZ(90deg);
}

@keyframes menu-chevron-move {
  100% {
    transform: rotateZ(270deg);
  }
}
@keyframes navigation-menu {
  0% {
    transform: translateY(-100%) scale3d(0, 0, 0);
    display: flex;
    position: absolute;
  }
  100% {
    transform: translateY(calc(161px - 2.5rem)) scale3d(1, 1, 1);
    display: flex;
    position: absolute;
  }
}
a, a:link {
  color: #ecf0f1;
  font-family: "Work Sans", Sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2666666667);
}

header.Header {
  width: 100vw;
  grid-area: head;
  display: flex;
  flex-flow: row nowrap;
  background-color: #ecf0f1;
  color: #2c3e50;
  z-index: 1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2666666667);
  justify-content: center;
  box-shadow: inset 0 -4px 4px rgba(0, 0, 0, 0.2509803922);
}

header.Header > section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1rem;
}

img {
  border-radius: 16px;
  width: calc(320px - 1rem - 1rem);
  height: 400px;
  object-fit: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2666666667);
}

header.Header aside {
  margin-top: 1rem;
}

header.Header > section > section, header.Header aside {
  display: flex;
  flex-flow: column wrap;
}

h1, h2 {
  text-decoration: none;
  font-family: "Roboto Serif", Serif;
}

h1 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 500;
}

h2 {
  line-height: 36px;
  font-size: 36px;
  font-weight: 400;
  margin: 0 0 0.4rem 0;
}

hr {
  border: 1px solid #f39C12;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2666666667);
}

p, h3, strong {
  font-family: "Work Sans", Sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 500;
  margin: 1rem 0;
}

strong {
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

button {
  background-color: #2980B9;
  padding: 1rem;
  font-family: "Work Sans", Sans-serif;
  font-size: 18px;
  width: fit-content;
  border-radius: 16px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2666666667);
  color: #ecf0f1;
}

main.Main {
  grid-area: main;
  display: grid;
  grid-template-areas: "eresume" "blog" "about" "contact";
  grind-template-rows: 1fr 1fr 1fr 1fr;
}

section.eresume {
  background-color: #2c3e50;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2666666667);
  z-index: 1;
}

section.eresume > article {
  width: calc(100% - 2rem);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  color: #ecf0f1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2666666667);
  margin: 1rem;
  padding: 0;
}

section.eresume aside {
  margin-top: 1rem;
}

section.eresume hr {
  border: 1px solid #f39C12;
}

section.card:first-child {
  margin-bottom: 1rem;
}

section.card {
  background-color: #2980B9;
  padding: 1rem;
  border-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2666666667);
  width: calc(100vw - 4rem);
}

section.card ul {
  background-color: #2c3e50;
  border: 1px solid #f39C12;
  border-radius: 16px;
  margin: 0.5rem 0 0 0;
  padding: 1rem;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2666666667);
}

li {
  list-style-type: none;
  font-family: "Work Sans", Sans-serif;
  font-size: 18px;
  font-weight: 400;
}

section.blog {
  width: 100vw;
  display: flex;
  position: static;
  flex-flow: row wrap;
  background-color: #ecf0f1;
  color: #2c3e50;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2666666667);
  border-color: #2c3e50;
  z-index: 2;
  box-shadow: inset 0 -4px 4px rgba(0, 0, 0, 0.2509803922);
}

section.blog > article {
  display: flex;
  flex-flow: column nowrap;
}

section.blog button {
  margin-top: 1rem;
}

section.blog ul {
  max-width: calc(100vw - 2rem);
  display: flex;
  overflow-x: scroll;
  overflow-y: visible;
  flex-flow: row nowrap;
  position: relative;
}

section.blog-post * {
  margin: 0;
  padding: 0;
}

section.blog-post > article {
  width: calc(320px - 2rem);
  margin: 1rem 1rem 1rem 0;
  padding: 0 0 0.5rem 0;
  background-color: #2c3e50;
  color: #ecf0f1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2666666667);
  border-radius: 16px;
}

section.blog-post:last-child > article {
  margin: 1rem 0;
}

section.blog-post iframe {
  width: 100%;
  border-radius: 16px 16px 0 0;
  border: 0 none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2666666667);
}

section.blog-post p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 18px;
  font-weight: 400;
  color: #2c3e50;
}

section.blog-post.big > article {
  position: fixed;
  z-index: 2;
  top: 0;
  max-height: calc(100vh - 3rem);
  width: calc(100vw - 2rem);
  overflow: scroll;
}

section.blog-post section {
  display: flex;
  flex-flow: column nowrap;
  border-right: 2px solid #2980B9;
  border-left: 2px solid #2980B9;
  border-bottom: 2px solid #2980B9;
  margin: -3px 1rem 1rem 1rem;
  padding: 0.5rem;
  background-color: #ecf0f1;
  color: #2c3e50;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

section.blog-post.big p {
  -webkit-line-clamp: revert;
}

section.about {
  background-color: #2c3e50;
  color: #ecf0f1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2666666667);
  height: 500px;
  overflow-y: scroll;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2666666667);
}

section.contact {
  background-color: #f39C12;
  color: #2c3e50;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2666666667);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2666666667);
}

section > article {
  padding: 1rem;
}

section.contact hr {
  border: 1px solid #2c3e50;
}

section.contact form {
  margin-top: 1rem;
}

section.contact fieldset {
  border: none;
}

section.contact form fieldset section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

section.contact form fieldset textarea, section.contact form fieldset input {
  flex: 1.7;
  font-family: "Work Sans", Sans-serif;
  padding: 1rem;
  min-width: calc(100% - 2rem);
  max-width: calc(100% - 2rem);
  border-radius: 16px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2666666667);
}

section.contact form label {
  font-family: "Work Sans", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin: 0.5rem 0;
}

section.contact form fieldset section p {
  flex: 1;
  color: #e74c3c;
  font-size: 16px;
  height: 16px;
  margin: 0 0 0 0.5rem;
  text-align: start;
}

section.contact form button[type=submit] {
  margin-top: 0.5rem;
}

footer.Footer {
  grid-area: foot;
  background-color: #2c3e50;
  color: #ecf0f1;
  font-family: "Work Sans", Sans-serif;
}

footer.Footer nav {
  margin: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

footer.Footer iframe#locationIframe {
  margin-top: 0.5rem;
  padding: 0;
  width: calc(320px - 3rem);
  margin-left: 0;
  margin-right: 0;
  display: block;
}

footer.Footer h3 + ul {
  padding: 0.5rem;
}

footer.Footer section {
  padding: 0 0 0 1rem;
}

section#fullResume {
  display: none;
  position: fixed;
  flex-flow: column;
  align-items: center;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2666666667);
}

@keyframes slide-in-up {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}
section#fullResume > article {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  overflow-y: scroll;
  background-color: #ecf0f1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2666666667);
}

section#fullResume.open {
  display: flex;
  animation: slide-in-up 0.25s ease;
  animation-fill-mode: backwards;
  animation-delay: 0.45s;
}

section#fullResume.opened {
  display: flex;
  animation: none;
}

section#fullResume.close {
  display: flex;
  animation: slide-in-up 0.25s ease reverse;
  animation-fill-mode: forwards;
}

section#fullResume.closed {
  display: none;
  animation: none;
}

section#fullResume p {
  margin: 0;
  max-width: 100%;
}

section#fullResume li {
  font-family: "Work Sans", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0.5rem;
}

button.fullResumeCloseButton {
  position: absolute;
  height: min-content;
  line-height: 0;
  background-color: none;
  right: 1rem;
  top: 1rem;
}

@media screen and (min-width: 375px) {
  section.eresume aside {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }
}
@media screen and (min-width: 425px) {
  img {
    width: calc(100vw - 2rem);
    max-width: 500px;
  }
  header.Header aside {
    margin: 1rem 0 0 0;
  }
  section.card {
    max-width: 375px;
  }
}
@media screen and (min-width: 672px) {
  section.eresume aside {
    justify-content: space-between;
  }
  section.card {
    width: calc(320px - 3rem);
  }
  section.card:first-child {
    margin-bottom: 0;
    margin-right: 0.5rem;
  }
  section.card:last-child {
    margin-left: 0.5rem;
  }
  section.blog-post > article {
    width: calc(375px - 2rem);
  }
}
@media screen and (min-width: 768px) {
  nav.Nav > section {
    justify-self: center;
    width: 768px;
    grid-template-areas: "logo list";
    grid-template-rows: auto;
    grid-template-columns: min-content max-content;
  }
  nav.Nav ul, nav.Nav ul.open, nav.Nav ul.close, nav.Nav ul.opened {
    display: flex;
    transform: none;
    position: static;
    flex-flow: row nowrap;
    animation: no;
    align-self: center;
    justify-self: center;
    background-color: rgba(0, 0, 0, 0);
  }
  header.Header > section {
    width: 768px;
  }
  section.eresume, section.blog, section.about, section.contact, footer.Footer, section.eresume, header.Header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    min-width: 768px;
  }
  section#fullResume > article {
    width: calc(768px - 2rem);
    padding: 1rem;
  }
  section.blog-post.big > article, section.eresume > article, section.blog > article, section.about > article, section.contact > article, footer.Footer > nav, #fullResume {
    width: 768px;
  }
  img.menu-chevron, section.menu-chevron-container {
    display: none;
  }
  footer.Footer nav {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  footer.Footer > nav section {
    padding: 1rem 1rem 1rem 0;
  }
  img {
    width: calc(320px - 2rem);
    max-width: none;
  }
  section.card {
    width: calc(320px - 4rem);
  }
  section.card:first-child {
    margin-bottom: 1rem;
    margin-right: 0;
  }
  section.card:last-child {
    margin-left: 0;
  }
  header.Header p, section.eresume p {
    max-width: 35ch;
  }
  section.eresume aside {
    flex-flow: column nowrap;
    width: fit-content;
  }
}
@media screen and (min-width: 1024px) {
  nav.Nav > section {
    justify-self: center;
    width: 1024px;
    grid-template-areas: "logo list";
    grid-template-rows: auto;
    grid-template-columns: min-content max-content;
  }
  nav.Nav ul, nav.Nav ul.open, nav.Nav ul.close, nav.Nav ul.opened {
    display: flex;
    transform: none;
    position: static;
    flex-flow: row nowrap;
    animation: no;
    align-self: center;
    justify-self: center;
    background-color: rgba(0, 0, 0, 0);
  }
  header.Header > section {
    width: 1024px;
  }
  section.eresume, section.blog, section.about, section.contact, footer.Footer, section.eresume, header.Header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    min-width: 1024px;
  }
  section#fullResume > article {
    width: calc(1024px - 2rem);
    padding: 1rem;
  }
  section.blog-post.big > article, section.eresume > article, section.blog > article, section.about > article, section.contact > article, footer.Footer > nav, #fullResume {
    width: 1024px;
  }
  img.menu-chevron, section.menu-chevron-container {
    display: none;
  }
  footer.Footer nav {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  footer.Footer > nav section {
    padding: 1rem 1rem 1rem 0;
  }
  img {
    width: calc(425px - 2rem);
    max-width: none;
  }
  section.card {
    width: calc(425px - 4rem);
  }
  section.card:first-child {
    margin-bottom: 1rem;
    margin-right: 0;
  }
  section.card:last-child {
    margin-left: 0;
  }
  header.Header p, section.eresume p {
    max-width: 45ch;
  }
  section.eresume aside {
    flex-flow: column nowrap;
    width: fit-content;
  }
}

/*# sourceMappingURL=style.css.map */
